<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="shortcut icon" href="static/images/python.png" type="image/x-icon">
    <link rel="stylesheet" href="static/css/error.css">
    <title>Erro</title>
  </head>
  <body>
    <main>
      <div class="container">
        <div class="card">
          <div class="title">
            <span class="material-symbols-outlined">warning</span>
            <h3>Ocorreu um Erro</h3>
          </div>
          <p>{{ message }}</p>
        </div>
        <div class="btn-area">
          <a href="/">
            <span class="material-symbols-outlined">home</span>
            Voltar
          </a>
        </div>
      </div>
    </main>
  </body>
</html>
